{% extends "portfolio_app/base_template.html" %}
{% block content %}
<h1>Post Details</h1>
<p><strong>Location:</strong> {{ post.location }}</p>
<p><strong>User:</strong> {{ post.user.name }}</p>
<p><strong>Skill Level:</strong> {{ post.user.get_skill_level_display }}</p>
<p><strong>Number of Users Joined:</strong> {{ post.num_joined }}</p>
<a href="{% url 'update_post' pk=post.pk %}" class="btn btn-warning">Edit Post</a>
<a href="{% url 'delete_post' pk=post.pk %}" class="btn btn-danger">Delete Post</a>
{% endblock %}
